<section class="broadcasting">
    <div class="broadcasting__container">
        <div class="broadcasting__title">
            <h2 class="broadcasting__title">
                Последняя трансляция:
            </h2>
        </div>
        <div class="broadcasting__content">
            <div class="broadcasting__description">
                <h3 class="broadcasting__subtitle">Богослужение 25.10.2020</h3>
                <p class="broadcasting__text">
                    <big>Описание:</big> <br>
                    Данные для десятин и пожертвований кого побуждает Бог: <br>
                    Numer rachunku:<br>
                    53 1140 2004 0000 3902 7944 2679<br>
                    Odbiorca:<br>
                    Zbòr KChB placòwka r/j<br>
                    Tytul: Ofiara<br>
                </p>
            </div>
            <div class="broadcasting__video">
                <iframe
                    src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fgdanskchurch%2Fvideos%2F3302830366502492%2F&show_text=false&width=560"
                    width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
</section>