<footer class="footer">
   <div class="footer__container container">
      <div class="footer__ul">
         <ul class="footer__main">
            <li><a href="index.html">Главная</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="ministries.html">Наши служения</a></li>
            <li><a href="contacts.html">Контакты</a></li>
            <li><a href="about.html">О нас</a></li>
         </ul>
      </div>
      <div class="footer__contacts">
         <p>Адрес: <br> Gdansk, Dąbrowskiego 11 <br> Воскресенье 14:00</p>
      </div>
      <div class="footer__social">
         <a href=""><img src="icons/instagram.svg" alt=""></a>
         <a href=""><img src="icons/facebook.svg" alt=""></a>
         <a href=""><img src="icons/youtube.svg" alt=""></a>
      </div>
   </div>
</footer>