<header class="header">
	
	<div class="header__container container">
		<div class="header__logo">
		<img src="icons/bible(2).svg" alt="">
	</div>

	<div class="header__main">
			<span class = "header__main-link" >
				<a href="index.html">Главная</a>
				<img src="icons/down-arrow.svg" alt="">
				<ul>
					<li><a href="#news"><span></span>Новости</a></li>
				</ul> 
			</span>
			
			<a class = "header__main-link" href="media.html"><span class="main-line"></span>Медиа</a>
			<a class = "header__main-link" href="ministries.html"><span class="main-line"></span>Наши служения</a>
			<a class = "header__main-link" href="contacts.html"><span class="main-line"></span>Контакты</a>
			<span class = "header__main-link" >
				О нас 
				<img src="icons/down-arrow.svg" alt="">
				<ul>
					<li><a href="about.html"><span></span>История церкви</a></li>
					<li><a href="about.html"><span></span>Наше вероисповедание</a> </li>
				</ul> 
			</span>
		</div>


	<div class="header__contacts">
		<p class="header__info">Gdansk, Dąbrowskiego 11 <br> Воскресенье 14:00</p>
		<button href="contacts.html" class="header__btn"><span></span> <div class="text-button"><p>Связаться с нами</p></div></button>
	</div>
	</div>

</header>