<section class="message">
    <div class="message__container container">
        <div class="message__img">
            <img src="img/logo.jpg" alt="pastor">
        </div>
        <div class="message__text">
            <h2>"Семья, в которой спасаються люди"</h2>
            <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Reprehenderit atque, distinctio, impedit exercitationem sunt <br> voluptatem dolore, nisi quaerat repellendus voluptas tempore. <br> Similique et dignissimos, assumenda minus eveniet ea eum nostrum!</em></p>
            <span>- Пастор церкви Максим Слязин</span>
        </div>
    </div>
</section>