<div class="slider">
   
      <div class="slider__slides">

         <div class="slider__slide active">
            <img src="img/bible.jpg" alt="">
            <div class="slider__container container">
               <div class="slider__text">
                  <h2>Домашняя группа
                  по разбору Библии <br>
                  <strong>Gdansk, Dąbrowskiego 11 <br> Воскресенье 14:00</strong></h2>
               </div>
            </div>
         </div>

         <div class="slider__slide ">
            <img src="img/gdansk2.jpg" alt="">
            <div class="slider__container container">
               <div class="slider__text">
                  <h2>Мы в социальных <br>
                  <strong>СЕТЯХ</strong></h2>
               </div>
            </div>
         </div>
         
         <div class="slider__slide ">
            <img src="img/gdansk.jpg" alt="">
            <div class="slider__container container">
               <div class="slider__text">
                  <h2>Если у вас есть вопросы вы можете <br>
                  оставить свои контакты и мы вам перезвоним</h2>
                  <button class="slider__btn" >Связаться <br>с нами</button>
               </div>
            </div>
         </div>


      
   </div>
</div>