.broadcasting {
width: 100%;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__description {
        margin-right: 50px;
        width: 30%;
    }
    &__title {
        @include title($black);
    }
    &__subtitle {
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    &__text {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        big{
            font-weight: 500;
        }
    }

    &__video {
        iframe{
            border-radius: 5px;
            box-shadow:  -2px 2px 8px black;
        }
    }
}
