.header {
	position: fixed;
	z-index: 10;
	background: white;
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid rgb(173, 173, 173);
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: 40px;
		img{
			width: 100%;
		}
	}

	&__main {
		width: 50%;
		display: flex;
		justify-content: space-between;
	}
	&__main-link{
		cursor: pointer;
		color: black;
		font-weight: 600;
		position: relative;
		display: flex;
		align-items: center;
		img{
			height: 10px;
			transition: 0.2s;
			margin-left: 5px;
		}

		.main-line{
			width: 100%;
			height: 2px;
			position: absolute;
			left: -20%;
			bottom: -5px;
			background: #000;
			opacity: 0;
			transition: 0.3s;

		}
		&:hover .main-line{
			left: 0;
			opacity: 1;
		}

		ul{
			visibility: hidden;
			position: absolute;
			z-index: 2;
			top: 120%;
			left: -50%;
			overflow: hidden;
			background: rgb(255, 255, 255);
			opacity: 0;
			transition: 0.2s;
			padding: 20px;
			

			li{
				width: 200px;
				padding: 10px 10px 10px 5px;
				margin-top: 15px;
				color: black;
				a{
					position: relative;
					height: 100%;
					color: rgb(71, 71, 71);
				}
				
				span{
					width: 100%;
					height: 2px;
					position: absolute;
					left: -20%;
					bottom: -5px;
					background: rgb(73, 73, 73);
					opacity: 0;
					transition: 0.3s;

				}
				&:hover span{
					left: 0;
					opacity: 1;
				}
			}
			
		}
		&:hover{
			img{
				transform: rotate(180deg);
			}
			ul{
				visibility: visible;
				opacity: 1;
			}
		}
	}
	&__contacts{
		display: flex;
		.header__info{
			text-align: right;
			margin-right: 20px;
			font-weight: 600;
			line-height: 1.4;
		}
	}
	&__btn{
		font-size: 13px;
		height: 40px;
		width: 130px;
		background: none;
		font-weight: 600;
		border: 1px black solid;
		transition: 0.2s;
		border-radius: 3px;
		&:hover{
			background: rgb(71, 71, 71);
			border: 1px rgb(71, 71, 71) solid;
			color: white;
		}
	}
}



