.news {
    padding: 100px 0 100px 0;
    position: relative;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    #news{
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        h2{
            @include title($black);
        }
    }

    &__cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px;
    }

    &__card{
        display: flex;
        flex-direction: column;
        border: 1px rgb(226, 226, 226) solid;
        border-radius: 3px;
        background: white;
        padding: 10px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover{
            .news__card-bg{
                opacity: 1;
            }  
            transform: translate(0 , -5px) ;
        }
        &-bg{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background:rgba(0, 0, 0, 0.644);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
            opacity: 0;
            img{
                width: 20%;
            }
        }
        
        h3{
            width: 90%;
            font-size: 20px;
            font-weight: 600;
            margin: 30px 0 10px 0;
            color: $black;
        }
        p{
            width: 90%;
            font-size: 17px;
            font-weight: 300;
            color: $black;
        }
        .news__card-data{
            width: 90%;
            text-align: right;
            margin-top: 20px;
        }
    }
    &__img{
        position: relative;
        width: 100%;        
        overflow: hidden;
        >img{
            width: 100%;
        }
    }
}
