.slider{
        width: 100%;
        height: 100vh;
        min-height: 500px;
        max-height: 800px;
        overflow: hidden;
   &__container{
       position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   }
   &__slides{
        width: 100%;
        height: 100%;
   }
   &__social{
        position: absolute;
        right: 0;
        bottom: 20px;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 35px;
            margin: 15px;
            transition: all 0.1s;
            &:hover{
                transform: translate(-1px, -1px);
            }
        }
   }
   &__text-wrap{
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items:center;
   }
   &__text{
        padding: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(255, 255, 255);
        text-align: center;
        h2{
            color: $element;
            font-size: 25px;
            line-height: 1.3;
        }
        h3{
            color: $black;
            font-size: 25px;
            line-height: 1.3;
        }
        strong{
            mix-blend-mode: multiply;
            font-size: 36px;
            color: $black;
        }
    }
   &__slide{
       visibility: hidden;
       position: absolute;
       left:0;
       top:0;
       width: 100%;
       height: 100%;
       transition: 0.3s;
       opacity: 0;

       >img{
           position: absolute;
           left: 0;
           top: 0;
           z-index: 1;

           width: 100%;
           height: 100%;

           object-fit: cover;
           object-position: bottom;
       }
   }
   &__btn{
    height: 50px;
    width: 200px;
    background: $element;
    color: $black;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    color:white;
    border-radius: 3px;
    transition: 0.2s;
    &:hover{
        background: darken($color: $element, $amount: 10%);
    }
   }
   &__slide.active{
    visibility: visible;
    opacity: 1;
    }
}

