$element:#f1c915;
$black: #242424;
$gray: #757575;
$liteGray: #f7f7f7;

@import "index/nullstyle.scss";

*{
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

body{
	font-family: Arial, sans-serif;
}
.mtop{
	height: 60px;
}
.container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 20px 0 20px;
	
}
.wrapper{
	height: 100%;
	display: flex;
  	flex-direction: column;
}
.content {
	flex: 1 0 auto;
  }
.footer {
	flex: 0 0 auto;
}


@import "index/mixins.scss";
@import "header.scss";
@import "index/slider.scss";
@import "index/message.scss";
@import "index/broadcasting.scss";
@import "index/news.scss";
@import "media/tabs.scss";
@import "footer.scss";

