$element:#C43F26;
$black: #242424;
$gray: #757575;
$liteGray: #f7f7f7;

@import "index/nullstyle.scss";

*{
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

body{
	font-family: Arial, sans-serif;
}
.mtop{
	height: 60px;
}
.container {
	max-width: 1500px;
	margin: 0 auto;
	
}
.content {
	min-height: 100vh;
    height: 100% auto;
}


@import "index/mixins.scss";
@import "header.scss";
@import "index/slider.scss";
@import "index/message.scss";
@import "index/broadcasting.scss";
@import "index/news.scss";
@import "media/tabs.scss";
@import "modal.scss";
@import "contacts/contacts.scss";
@import "footer.scss";
@import "index/main.scss";

