.tabs {
    padding: 70px 0 60px 0;
    &__container {}

    &__title{
        @include title ($black);
    }
    
    &__btns {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__btn {
        @include btn (40px, 130px, white);
        border: 2px solid $black;
        color: $black;
        font-size: 15px;
        font-weight: 600;
        border-radius: 3px;
        margin: 10px;
    }

    &__photos {
        display: none;
    }

    &__photos.active{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 10px;
        justify-items: center;
        padding: 10px;
    }

    &__photo{
        width: 100%;
        height: 250px;
        position: relative;
        max-width: 400px;

        &:hover{
            .media__photo-bg{
                opacity: 1;
            } 
        }

        >img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: top;

            cursor: pointer;
            
        }
    }

    &__videos {
        display: none;
        h2{
            font-size: 25px;
            font-weight: 600;
            color: $black;
            margin: 30px;
        }
    }

    &__broadcasting {
        display: flex;
        align-items: center;
        margin:0 0 60px 50px;
        padding: 10px;
    }

    &__broadcasting-description {
        margin-left: 30px;
        h3{
            font-size: 20px;
            font-weight: 300;
            color: $black;
            margin-bottom: 20px;
        }
        p{
            font-size: 17px;
            color: $black;
            line-height: 1.5;
        }
        big{
            font-weight: 600;
        }
    }

    &__broadcasting-subtitle {}

    &__broadcasting-video {}

    &__videos.active{
        display: flex;
        flex-direction: column;
    }

    &__video-list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 10px;
        justify-items:  center;
        padding: 10px;
    }

    &__video {
        width: 100%;
        iframe{
            width: 100%;
        }
    }
}

