<section class="tabs">
    <div class="tabs__container container">
        <h2 class="tabs__title" >Медиаархив нашей церви</h2>
        <div class="tabs__btns">
            <button class="tabs__btn">Фото</button>
            <button class="tabs__btn">Видео</button>
        </div>
        <div class="tabs__content">
            <div class="tabs__photos active">

            </div>
            <div class="tabs__videos">
               <!-- <div class="tabs__video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0uqM6MhYfLk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
               <div class="tabs__video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0uqM6MhYfLk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div><div class="tabs__video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0uqM6MhYfLk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
               <div class="tabs__video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0uqM6MhYfLk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
               <div class="tabs__video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0uqM6MhYfLk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div><div class="tabs__video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0uqM6MhYfLk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div> -->
            </div>
        </div>
    </div>
</section>