.footer__container {
  display: flex;
  justify-content: space-around;
}
.footer__main li {
  margin-top: 10px;
}
.footer__main li a {
  color: #636363;
  font-size: 12px;
}
.footer__social img {
  width: 40px;
}